$primary-bg: #0e0e0e;
$primary-txt: #dfdfdf;
$primary-btn-bg: #155080;
$primary-btn-bg-hover: #124264;
$primary-btn-border: #5286aa;
$primary-btn-txt: #dfdfdf;
$secondary-btn-bg: rgb(71, 71, 71);
$secondary-btn-bg-hover: rgb(53, 53, 53);
$secondary-btn-border: rgb(107, 107, 107);
$dark-shadow: rgba(0,0,0,0.7);