$primary-bg: #1e1e1e;
$primary-txt: #dfdfdf;
$primary-btn-bg: #155080;
$primary-btn-bg-hover: #124264;
$primary-btn-border: #5286aa;
$primary-btn-txt: #dfdfdf;
$secondary-btn-bg: rgb(71, 71, 71);
$secondary-btn-bg-hover: rgb(53, 53, 53);
$secondary-btn-border: rgb(107, 107, 107);
$dark-shadow: rgba(0,0,0,0.7);

$answer-bg-1: #28206380;
$answer-border-1: #9695d6;
$answer-bg-2: #3e312480;
$answer-border-2: #f3b46c;
$answer-bg-3: #30401d80;
$answer-border-3: #afda7b;
$answer-bg-4: #2e151d80;
$answer-border-4: #f1a9a9;

$warning: #ffc107;
$danger: #de4040;
$success: #0ba332; //#28a745;

$timer-progress-bar: #ffbf4a;