@use '../styles' as *;

.game {
  width: 100%;
  min-height: 100vh;
  @include mixins-display-flex();
  flex-direction: column;
  background-color: $colors-primary-bg;
  gap: 50px;
}

.endlessModeScore {
  font-size: 2em;
  font-weight: 600;
  color: $colors-primary-txt;
}

.timer {
  width: 500px;

  @include medias-media('tablet') {
    width: max(320px, 80%);
  }

  @include medias-media('phone') {
    width: max(175px, 92%);
  }
}

.question {
  width: 600px;
  @include mixins-display-flex();
  flex-direction: column;
  min-width: 200px;

  @include medias-media('tablet') {
    width: max(320px, 80%);
  }

  @include medias-media('phone') {
    width: max(175px, 92%);
  }
}

.iconList {
  list-style: none;
  @include mixins-display-flex();
  max-width: 420px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;

  .item {
    width: 18%;
    margin: 1%;
    @include mixins-display-flex();

    .icon {
      width: 70px;
      height: 70px;

      @include medias-media('tablet') {
        width: 50px;
        height: 50px;
      }

      @include medias-media('phone') {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.answerList {
  list-style: none;
  margin: 0;
  padding: 0;
  @include mixins-display-flex(space-between);
  flex-wrap: wrap;
  width: 100%;
  
}

.answerBox {
  min-width: 50%;
  padding: 0 3px 6px 3px;
  flex-grow: 1;
}

.answerBtn {
  color: $colors-primary-btn-txt;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  transition: background-color 300ms ease, border-color 300ms ease;
  @include mixins-display-flex();
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;

  @include medias-media('tablet') {
    font-size: 1em;
    font-weight: 400;
  }

  @include medias-media('tablet') {
    font-size: .875em;
  }
}

.answerStyle1 {
  background-color: $colors-answer-bg-1;
  border: 1px solid $colors-answer-border-1;
}

.answerStyle2 {
  background-color: $colors-answer-bg-2;
  border: 1px solid $colors-answer-border-2;
}

.answerStyle3 {
  background-color: $colors-answer-bg-3;
  border: 1px solid $colors-answer-border-3;
}

.answerStyle4 {
  background-color: $colors-answer-bg-4;
  border: 1px solid $colors-answer-border-4;
}

.answerInputBox {
  @include mixins-display-flex();
  flex-direction: column;
  gap: 5px;
}

.answerInput {
  width: 250px;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 8px;
  border: none;
  outline: none;
  text-align: center;
}

.answerInputDescription {
  font-size: .875em;
  color: $colors-primary-txt;
}

.correctAnswer {
  background-color: $colors-success;
  border-color: $colors-success;
  color: $colors-primary-txt;
}

.incorrectAnswer {
  background-color: $colors-danger;
  border-color: $colors-danger;
  color: $colors-primary-txt;
}

.pauseBtn {
  @include mixins-secondary-button-style();
}