@use '../../styles' as *;

.stageDisplay {
  @include mixins-display-flex(flex-start, center);
  padding: 20px;
  flex-direction: column;
  max-width: 380px;
  gap: 15px;
  justify-self: center;
}


.iconList {
  list-style: none;
  @include mixins-display-flex();
  gap: 8px;

  .item {
    width: 38px;
    height: 38px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.description {
    font-size: 1em;
    max-width: 300px;

    @include medias-media('phone') {
      font-size: .875em;
      text-align: center;
    }
}

.levels {
  width: 100%;
  margin-top: auto;

  .name {
    font-size: 1em;

    @include medias-media('phone') {
      font-size: .875em;
    }
  }

  .level {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    margin-bottom: 10px;
    align-items: center;
    gap: 5px;

    .playBtn {
      @include mixins-button-style();
    }
  }
}