@use '../../styles' as *;

.circularProgress {
  @include mixins-display-flex();
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: conic-gradient($colors-circular-progress-bar 3.6deg, $colors-circular-progress-border 0deg);
  border: 3px solid $colors-circular-progress-border;

  &::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: $colors-primary-bg;
    border: 3px solid $colors-circular-progress-border;
  }

}

.progressValue {
  font-size: 2em;
  font-weight: 600;
  color: $colors-circular-progress-bar;
  z-index: 2;
}
