@use '../../styles' as *;

.settings {
  width: 100%;
  @include mixins-display-flex();
  margin-top: 20px;
  flex-direction: column;
  gap: 30px;
}

.category {
  @include mixins-display-flex(flex-start, flex-start);
  gap: 20px;
  width: 350px;
}

.name {
  flex-grow: 1;
}

.options {
  width: 190px;

  .option {
    @include mixins-display-flex(flex-start, center);
    gap: 5px;
    font-size: .875em;
  }
}