@use '../../styles' as *;

.settings {
  width: 100%;
  @include mixins-display-flex(flex-start, flex-start);
  padding-left: 20px;
  margin-top: 20px;
  flex-direction: column;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 10px;
}

.name {
  font-size: 1em;
  margin-right: 25px; 
}

.options {
  .option {
    @include mixins-display-flex(flex-start, center);
    gap: 5px;
    font-size: .875em;
  }

  .description {
    font-size: .75em;
    color: $colors-secondary-txt;
  }
}